.site-footer {
    color: var(--white_color);
    position: relative;
    z-index: 1;
    padding: 0 0 50px;
    background-color: var(--primary_color);
}

.site-footer .footer-logo-section img.logo-image {
    max-width: 420px;
}

.site-footer .footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.site-footer .peco-logo .tm {
    position: absolute;
    top: 0;
    right: -25px;
}

.site-footer .company-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--white_color);
    display: inline-block;
    padding: 0 0 10px;
    margin: 0 0 10px;
}

.site-footer .industry {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.site-footer .info-item svg {
    background: var(--white_color);
    border-radius: 50px;
    padding: 2px;
    height: auto;
    margin: 5px 0 0;
}

.site-footer .contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.site-footer .info-item {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: start;
    gap: 10px;
}

.site-footer .info-item span a {
    text-decoration: none;
}

.site-footer .info-item i {
    margin-top: 3px;
    font-size: 14px;
}

.scroll-top-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
    animation: bounce 2s infinite;
}

.scroll-top-btn {
    background-color: var(--primary_color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.scroll-top-btn:hover {
    background-color: var(--primary_color);
    transform: translateY(-5px);
}

.scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 767px) {
    .site-footer .footer-logo-section img.logo-image {
        max-width: 60%;
    }
}