#header-logo img {
    will-change: transform, top, left;
    transition: all 0.5s ease-in-out;
}

img.logo-image.hero-logo-fixed {
    position: fixed;
    scale: 5;
    transform: translate(35%, 9.5vh) !important;
}

@media screen and (max-width: 768px) {
    img.logo-image.hero-logo-fixed {
        position: unset;
        scale: 1;
        transform: unset !important;
    }
}