.product-list-page {
    background-color: var(--primary_color);
    padding: 2rem 0;
    color: var(--white_color);
    font-family: 'Outfit', sans-serif;
}

.product-category-tabs {
    display: flex;
    justify-content: center;
    gap: 0rem;
    margin-bottom: 5rem;
    border-bottom: 4px solid var(--white_color);
    border-top: 4px solid var(--white_color);
}

.category-tab {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1.8rem 1.5rem 2rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    position: relative;
    background-color: transparent;
}

.category-tab.active {
    color: var(--primary_color);
    background-color: var(--white_color);
    transform: translate(0, 25px);
}

.category-tab::after {
    transition: all 0.5s ease-in-out;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #ffff 10px;
    bottom: -9px;
    content: " ";
    height: 0;
    left: 50%;
    opacity: 0;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.category-tab.active::after {
    opacity: 1;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.product-card {
    background-color: #4e9ab4;
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover {
    transform: translateY(-5px);
    background-color: #4e9ab4;
}

.product-image-container {
    margin-bottom: 0rem;
    max-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.product-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
    .product-list-page .product-category-tabs {
        overflow: auto;
        margin: 0 0 30px;
        position: relative;
        border-bottom: 0;
        justify-content: start;
    }

    .product-list-page .product-category-heading {
        position: relative;
    }

    .product-list-page .product-category-heading:after {
        width: 100%;
        border-bottom: 4px solid var(--white_color);
        content: '';
        position: absolute;
        bottom: 25%;
        height: 4px;
    }

    .product-list-page .category-tab {
        margin: 0 0 30px 0;
        padding: 0.8rem 1rem 1rem;
    }

    .category-tab.active {
        transform: translate(0, 15px);
    }
}